@media (max-width: 767px){
	.eliminar .img-responsive{
		display: none;
	}
	.money{
		flex-direction: column;
	}
	.eucalyptus ul{
		padding-top: 20px;
	}
	.eucalyptus li{
		margin-left: -50px;
	}
	.cosita{
		margin-top: 10px;
	}
}


.second-section{
	background-image: url(../img/portada.jpg);
	height: 100vh;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: bottom;
}

.navbar-fixed-top{
	position: absolute;
}

.navbar-header h4{
	color: whitesmoke;
	font-size: 1.5em;
	margin-left: 2em;
	margin-top: 1em;
	padding: 5px;
	float: left;
}

.shadow{
	text-shadow: 2px 2px rgba(0,0,0,0.55);
}

.nav li a{
	color: whitesmoke;
}

.nav li a:hover{
	color: black;
}

.navbar-toggle{
	background-color: rgba(158,154,154,0.8);
	background-size: 3em;
	margin-top: 1em;	
}

i:hover{
	color: white;
}

.second-section{
	padding: 13em 113px;
	color: whitesmoke;
}

.features h2{
	font-weight: 600;
}
.greenbtn{
	background-color: #41521F;
	color: whitesmoke;
	border: 0;
}

.greenbtn:hover{
	background-color: #81a23d;
	color: black;
}

.savekoalas{
	padding-top: 40px;
}

.allinfo{
	padding-top: 100px;
	padding-bottom: 100px;
}

.allinfo h2, h4{
	color: #41521F;
}
.allinfo p{
	color: gray;
}

.helpkoala{
	background-color: #A89F68;
	padding: 80px;
}
.helpkoala .el-h4,p{
	color: whitesmoke;
}
.cosita{
	width: 100%;
	border: 7px solid white;

}
.helpkoala h2{
	color:#41521F;
}
.koalaband{
	background-image: url(../img/all.jpg);
	height: 100vh;
	background-size: cover;
	background-repeat: no-repeat;
	color: white;
}

.rigth{
	float: right;
}

.texto-iconos{
	color: #A89F68;
}

.texto-iconos p{
	color: gray;
}

.fa-heart, .fa-globe, .fa-paw{
	font-size: 5em;
	padding-bottom: 20px;
}

.fa-heart:hover, .fa-globe:hover, .fa-paw:hover{
	color: #41521F;
}

.cuatrotextos{
	padding: 100px;
}

.cuatrotextos h3{
	padding-bottom: 40px;
}

.money{
	background-color: #A89F68;
	padding: 100px;
}

.money h1{
	font-size: 6em;
	color: whitesmoke;
}

.money sup, .money sub{
	font-size: 15px;
}

.money sup{
	top: -3em;
}

.money p{
	color: #333;
}


footer{
	background-color: #41521F;
	padding: 100px;
}

footer h4, footer a{
	color: #A89F68;
}

footer ul {
	list-style: none;
	padding-left: 100px;
}

footer ul li{
	color: #A89F68;
}

.greendiv{
	background-color: #41521F;
	color: whitesmoke;
	margin-top: 5px;
	padding: 10px;
}